<a href="https://colab.research.google.com/github/lawrenceN/ASPBaseApp/blob/master/Discovering_Disease_Outbreaks_from_News_Headlines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Extracting city and Country Information from News Headlines

In [5]:
# Importing the required libraries pandas for data processing (I want to try 
#dusk also**) geonamescache 
# geonamescache A Python library that provides functions to retrieve names, 
#ISO and FIPS codes of continents, countries as well as US states and counties 
#as Python dictionaries. The country and city datasets also include population 
#and geographic data. This copied from "https://pypi.org/project/geonamescache/"
#re This module provides regular expression matching operations similar to
#those found in Perl.  It supports both 8-bit and Unicode strings; both
#the pattern and the strings being processed can contain null bytes and
#characters outside the US ASCII range.

#Regular expressions can contain both special and ordinary characters.
#Most ordinary characters, like "A", "a", or "0", are the simplest
#regular expressions; they simply match themselves.  You can
#concatenate ordinary characters, so last matches the string 'last'.


!pip install geonamescache
import pandas as pd
import geonamescache
import re

Requirement already satisfied: geonamescache in /usr/local/lib/python3.6/dist-packages (1.1.0)

Mounting Data from Google Drive

In [6]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.3)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.7.2)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.3)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (3.1.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (46.3.0)

Creating connection between Calab and the drive

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
#We now Authenticate and create the PyDrive client

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
# Worked with the read_csv(), trying the read_fwf()- documentation says
# A comma-separated values (csv) file is returned as two-dimensional data 
#structure with labeled axes.

In [0]:
downloaded = drive.CreateFile({'id':"1bGsWHjaok5EDQna9d03OWTT_--D-LGZh"})   # replace the id with id of file you want to access
downloaded.GetContentFile('headlines.txt')        # replace the file name with your file

In [0]:
myData=pd.read_fwf('headlines.txt',header=None)

In [28]:
myData.head(20)

                                                    0
0                            Zika Outbreak Hits Miami
1                     Could Zika Reach New York City?
2                   First Case of Zika in Miami Beach
3             Mystery Virus Spreads in Recife, Brazil
4             Dallas man comes down with case of Zika
5                   Trinidad confirms first Zika case
6              Zika Concerns are Spreading in Houston
7               Geneve Scientists Battle to Find Cure
8               The CDC in Atlanta is Growing Worried
9                  Zika Infested Monkeys in Sao Paulo
10              Brownsville teen contracts Zika virus
11  Mosquito control efforts in St. Louis take new...
12  San Juan reports 1st U.S. Zika-related death a...
13                   Flu outbreak in Galveston, Texas
14               Zika alert â€“ Manila now threatened
15                     Zika afflicts 7 in Iloilo City
16               New Los Angeles Hairstyle goes Viral
17                      Louisiana Zika cases up to 26
18               Orlando volunteers aid Zika research
19                Zika infects pregnant woman in Cebu

Trying out on data investigation techniques

In [29]:
myData.sample(30)

                                                     0
413             Mad Cow Disease Disastrous to Brussels
570     Manassas Encounters Severe Symptoms of Measles
2                    First Case of Zika in Miami Beach
505                  Malaria has Arrived in Terrebonne
420  Authorities are Worried about the Spread of He...
388                   Zika symptoms spotted in Iquitos
605      Case of West Nile Virus Reported in Riverside
302  Rumors about Pneumonia spreading in Ottawa hav...
341                     Zika symptoms spotted in Surat
382                        Zika arrives in Orange City
551                  Ibadan tests new cure for Malaria
285  St. Catharines Patient in Critical Condition a...
549                      Zika Reported in Ciudad Acuna
541  More people in Cranford are infected with Hepa...
362  Laventille authorities confirmed the spread of...
466                       Zika reported in Fort Pierce
240  More Livestock in Fontainebleau are infected w...
356           New medicine wipes out Dengue in Saginaw
469               Durango is infested with Hepatitis B
387                  Will Rabies vaccine help Tangier?
58                    Zika surfaces in Klang, Malaysia
18                Orlando volunteers aid Zika research
336  Rumors about Mad Cow Disease Brighton have bee...
359      New medicine wipes out Mumps in Saint Charles
176                     Ithaca is infested with Dengue
215                   Will HIV vaccine help Las Vegas?
463  More Patients in Magnolia are Getting Diagnose...
112                         Zika Outbreak in Hyderabad
227                     Zika Virus Detected in Lubbock
161                      Veracruz hit by Zika Concerns

In [0]:
#The column name is using the index (0) changing that to be the name headlines

In [0]:
myData.columns=['Headlines']

In [34]:
myData.tail(10)

                                             Headlines
640  Authorities are Worried about the Spread of Va...
641          More Zika patients reported in Fort Worth
642             Zika symptoms spotted in Boynton Beach
643                     Outbreak of Zika in Portoviejo
644                       Influenza Exposure in Muscat
645  Rumors about Rabies spreading in Jerusalem hav...
646              More Zika patients reported in Indang
647  Suva authorities confirmed the spread of Rotav...
648         More Zika patients reported in Bella Vista
649                     Zika Outbreak in Wichita Falls

In [0]:
#Testing on the use of the geonamescache, (more discussion on this needed)

gc = geonamescache.GeonamesCache()
#countries = gc.get_countries()
countries=gc.get_countries_by_names()

# print countries dictio
print(countries)

In [0]:
# Now using the initialized geonamescache gc to get the countries names and creating a regular expression.Using the method 
#get_countries_by_names()

In [0]:
# Use of regular expressions to set countries names

In [0]:
countriesString = '|'.join(countries)

In [0]:
countryRe=re.compile(r'({})?'.join(countriesString))

In [0]:

citiesList=[]

In [0]:

#Initialize a list of cities 
cities=gc.get_cities()

In [0]:

CountryJoinedRe=gc.get_cities()

In [0]:
for id in cities.keys():
  citiesList.append("\\b{}\\b".format(cities[id]['name']))

Getting the US counties

In [0]:
USCounties = gc.get_us_counties()

In [0]:

for county in USCounties:
  citiesList.append("\\b{}\\b".format(county['name']))

In [0]:
#Getting the states in the US

In [0]:
statesUS=gc.get_us_states_by_names()

In [0]:
for state in statesUS.keys():
  citiesList.append("\\b{}\\b".format(statesUS[state]['name']))

In [0]:
citiesString='|'.join(citiesList)

In [0]:
#using the regular expression for the cities

In [0]:
citiesRE=re.compile(r'({})'.format(citiesString),re.IGNORECASE)